<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zjp的简陋博客</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container page-header">
    <h1>
        文章标题1
    </h1>
</div>
<div class="container body-main">
    <div>
        <p>
            中国的小资产阶级也是要反抗的。青年学生和城市小资产阶级，现在不是已经发动了一个广大的反日运动⑻吗？中国的这些小资产阶级成分曾经参加过一九二四年至一九二七年的革命。和农民一样，他们有同帝国主义势不两立的小生产的经济地位。帝国主义和中国反革命势力，曾经给了他们以重大的损害，使他们中的很多人陷于失业、破产或半破产的境地。现在他们眼看就要当亡国奴了，除了反抗，再没有出路。
        </p>
    </div>
</div>
</body>
</html>